
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 width: 922px;
 background-color: floralwhite;
}
#header {
 color: #333;
 width: 900px;
 float: left;
 padding: 10px;
 border: 1px solid #ccc;
 height: 50px;
 margin: 10px 0px 0px 0px;
 
background: #AF0419;
background-image: url('images/Dukes+logo+red.jpg');
background-repeat: no-repeat;
background-size: 300px 70px;
}
#navigation {
 float: left;
 width: 900px;
 color: #333;
 padding: 10px;
 border: 0px solid #ccc;
 margin: 0px 0px 0px 0px;
 background-color:#F3F2ED;
}
#leftcolumn { 
 color: #333;
 border: 0px solid #ccc;
 margin: 0px 0px 0px 0px;
 padding: 5px;
 width: 620px;
 float: left;
 /*background:#CCC8B3; */
}
#centerContent { 
 color: #333;
 border: 0px solid #ccc;
 margin: 0px 0px 0px 0px;
 padding: 5px;
 width: 918px;
 float: left;
 /*background:#CCC8B3; */
}
#rightcolumn { 
 float: right;
 color: #333;
 border: 0px solid #ccc;
 margin: 0px 0px 0px 0px;
 padding: 5px;
 width: 280px;
 display: inline;
 /*background:#F6F0E0;*/
}
#footer { 
 width: 922px;
 clear: both;
 color: #333;
 border: 0px solid #ccc;
 background-color:#F3F2ED;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}
#biddingMainArea{
	color: #333;
	 border: 0px solid #ccc;
	 margin: 0px 0px 0px 0px;
	 padding: 5px;
	 width: 918px;
	 float: left;
}
#teamsDiv{
	float: left;
	color: #333;
	border: 0px solid #ccc;
	margin: 0px 0px 0px 0px;
	padding: 5px;
	width: 200px;
	display: inline;
}
#availablePlayesDiv { 
 color: #333;
 border: 0px solid #ccc;
 margin: 0px 0px 0px 0px;
 padding: 5px;
 width: 200px;
 float: right;
 /*background:#CCC8B3; */
}
#biddingDiv{
	float: left;
	color: #333;
	border: 0px solid #ccc;
	margin: 0px 0px 0px 0px;
	padding: 5px;
	width: 488px;
	display: inline;
}
.currentBid{
	color: #333;
	border: 0px solid #ccc;
	margin: 0px 0px 0px 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 488px;
	display: inline;
}
.currentBid .currentPlyCSS{
	float: left;
	color: #333;	
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
	width: 288px;
	display: inline;
}
.playerImgCSS{
	float: left;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
	width: 100px;
	height: 100px;
	display: inline;
}
.playerStatsCSS{
    float: left;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    width: 180px;
    height: 100px;
    display: inline;
}
.currentBidderCSS{
	float: left;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
	width: 288px;
	height: 60px;
	display: inline;
}
.currentBid .currentBidCSS{
	float: right;
	color: #333;
	border: 0px solid #ccc;
	border-radius:10x;
	margin: 0px 0px 0px 0px;
	width: 160px;
	display: inline;
}

.currentBid .currentBidCSS .timerCSS{
	float: left;
	color: #D30D2D;
	border: 0px solid #ccc;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
	width: 150px;
	height: 100px;
	font-size: 100px;
	display: inline;
}
.autotBidCSS{
	float: left;
	color: #333;	
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
	width: 160px;
	height: 60px;
	display: inline;
}
.biddingArea .bidSubmit{
	float: left;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
	width: 476px;
	height: 80px;
}

hr {
border: solid #464141;
border-width: 1px 0 0;
clear: both;
margin: 0.38462em 0 0.30769em;
height: 0;
}


.iplOwner{
    width:89px ;
    height:125px;
    float: left;
    background:green;
    border-radius: 5px;
    margin-left: 2px;
}
.ownerName{
    width:87px ;
    height:20px;
    float: left;
    background:#f5f5f5;
    border-radius: 5px;
    margin-left: 2px;
}
.ownerAmount{
    width:87px ;
    height:20px;
    float: left;
    background:lightpink;
    border-radius: 5px;
    margin-left: 2px;
}
.ownerImg{
    border-radius: 5px;
    margin-left: 4px;
}

