<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="js/team.js"></script>
	<title>Dukes 11</title>
</head>
<body>
	<div class="content">
		<div class="header">
			<div class="top_info">
				<div class="top_info_right">
					<p><b>You are not Logged in!</b> <a href="#">Log in</a> to check your messages.<br />
					Do you want to <a href="#">Log in</a> or <a href="#">register</a>?</p>
				</div>		
				<div class="top_info_left">
					<p><b>....comments ...</b>
				</div>
			</div>
			<div class="logo">
				<h1><a href="#" title="Centralized Internet Services"><span class="dark">Dukes</span>11</a></h1>
			</div>
		</div>
		
		<div class="bar">
			<ul>
				<li class="active">Home</li>
				<li><a href="#" accesskey="m">Team</a></li>
				<li><a href="#" accesskey="p">Schedules</a></li>
				<li><a href="#" accesskey="s">Stats</a></li>
				<li><a href="#" accesskey="r">Gallery</a></li>
			</ul>
		</div>
		<!--
		<div class="search_field">
		
			<form method="post" action="?">
				<div class="search_form">
				<p>Search the Web: <input type="text" name="search" class="search" /> <input type="submit" value="Search" class="submit" /> <a class="grey" href="#">Advanced</a></p>
				</div>
			</form>
			
			<p>Please <a href="#">Sign in</a> or <a href="#">Register</a></p>
		
		</div>
		
			-->
		<div class="left">
			<h3>Players:</h3>
			<div id="teamDiv"></div>	
		</div>	
		<div class="right">
			<h3>Player Of The Match:</h3>
			<div class="right_articles">
				<p>
					<img src="images/morne_morkel2-101x116.jpg" alt="Image" title="Image" class="image" width="50" height="50" />
					<b>Rammohan</b><br />
					Batting : 50 runs in 25 balls <br/>
					Bowling : 10 runs in 4 overs
				</p>
			</div>
			<h3>Last Match Results:</h3>
			<div class="right_articles">
				<p>
					<b>Dukes XI v/s Stags </b><br/>
					Dukes XI :1st Innings: 59 runs for 10 wickets in 19.4
					Max overs/Inn: 20.0 Points: 16 DRR: 0.35 <br/>
					Stags : 1st Innings: 52 runs for 10 wickets in 18.4
					Max overs/Inn: 20.0 Points: 2 DRR: -0.35 <br/>
				</p>
			</div>
			<h3>Related Readings:</h3>
			<div class="right_articles">
				<p><img src="images/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
			</div>
			<div class="right_articles">
				<p><img src="images/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
			</div>
			<div class="right_articles">
				<p><img src="images/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
			</div>
			<div class="right_articles">
				<p><img src="images/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
			</div>
		</div>	
		<div class="footer">
			<p><a href="#">RSS Feed</a> | <a href="#">Contact</a> | <a href="#">Accessibility</a> | <a href="#">Products</a> | <a href="#">Disclaimer</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a><br />
			&copy; Copyright 2014 Dukes XI </p>
		</div>
	</div>
</body>
</html>
